# Backend API URL
REACT_APP_BACKEND_URL=http://localhost:5000

# Google OAuth Client ID (same as server - Get from Google Cloud Console)
# https://console.cloud.google.com/apis/credentials
REACT_APP_GOOGLE_CLIENT_ID=236637181211-66567rahq1a8samle5q40q6po87j6up6.apps.googleusercontent.com
