# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env files
.env
.env.local
.env.production
.env.development
.env.compose

# Builds
client/dist/
client/build/
server/build/

# Uploads
server/uploads/
server/*.csv
server/data/

# OS
.DS_Store
Thumbs.db

#Markdowns
*.md
GOOGLE_OAUTH_SETUP.md
PRODUCTION_SETUP.md
!README.md
# HTML Files
client/public/test-admin.html

# Docker
docker-compose.override.yml

VULTR_DEPLOY.sh