http://65.20.88.145.nip.io {
    redir https://65.20.88.145.nip.io{uri} permanent
}

https://65.20.88.145.nip.io {
    encode zstd gzip

    @backend path /api/* /auth/* /reports/* /locations/* /heat/* /emergency/* /uploads/*
    reverse_proxy @backend backend:5000

    reverse_proxy frontend:80
}